# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
new_venv/

# Environment
.env
.venv
.env.local
.env.development.local
.env.test.local
.env.production.local

# Data directories
data-med/
data-med/**/audio/
data-med/**/transcripts/
data-med/**/evaluation/
data-med-test/
data-med noisy/
data-med-semi-noise/
data-med-without-noise-original/
all-data/
med-data
med-data-copy
med-data-xxxxxxx--copy
Pre-processed/
# IDE
.idea/
.vscode/
*.swp
*.swo
.cursor

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs/
*.log 